@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --dark-blue: #162E3C;
    --green: #DDF0A7;
    --main-font: "Fraunces", serif;
    --second-font: "Space Grotesk", sans-serif;
}
*{
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 1.39vw;
    color: var(--dark-blue);
}
.beg{
    height: 1000px;
}
.logo{
    font-family: var(--main-font);
}
.begin{
    padding-top: 96px;
    width: 768px;
}
h1{
    font-family: var(--main-font);
    font-size: 3.89vw;
}
h2,h3,h4,h5{
    font-family: var(--main-font);
}
a{
    text-decoration: none !important;
    font-size: 1.04vw  !important;
}
.btn{
    border-radius: 64px;
    font-size: 1.04vw !important;
}
.btn:not(.x){
    
    border: none;
}
a:hover{
    background-color: transparent !important;
}
a:hover#green{
    background-color: var(--green) !important;
}
a:hover#blue{
    background-color: var(--dark-blue)!important;
}
#imgpat{
    position: absolute;
    padding-top: 96px;
    width: 187px;
}
#imgpat2{
    position: absolute;
    padding-top: 260px;
    right: 0;
    width: 187px;
}
.logo-icon {
    width: 2.08vw;
    min-width: 15px;
    max-width: 20px;
}
.navbar-toggler {
    box-shadow: none;
}

.img-girl{
    margin-top: -350px;
}
.responsive-icon {
    height: 3.33vw; 
}
.btn-outline-primary {
    border: 2px solid var(--dark-blue) !important;
}
#a:hover{
    color: var(--dark-blue) !important;
}
.end{
    position: absolute;
    margin-top: -180px;
    z-index: -1;
}
@media (max-width: 1024px) {
    #imgpat{
        width: 150px;
    }
    #imgpat2{
        padding-top: 160px;
        width: 150px;
    }
    .begin{
        padding-top: 75px;
        width: 600px;
    }
    .btn{
        font-size: 10px !important;
        padding: 10px 20px !important;
    }
    .beg{
        height: 750px;
    }
    .img-girl{
        margin-top: -250px;
    }
}
@media (max-width: 768px) {
    .mobile-center {
      width: 100% !important;
      text-align: center;
    }
    .mobile-center .nav-item {
      margin-bottom: 10px;
    }
    .begin{
        padding-top: 75px;
        width: 530px;
    }
    #imgpat{
        width: 115px;
    }
    #imgpat2{
        width: 115px;
        padding-top: 155px;
    }
    .beg{
        height: 580px;
    }
    .img-girl{
        margin-top: -200px;
    }
}
@media (max-width: 426px) {
    *{
        font-size: 12px;
    }
    #imgpat{
        display: none;
    }
    #imgpat2{
        display: none;
    }
    .begin{
        padding-top: 45px;
        width: 350px;
    }
    h1{
        font-size: 22px;
    }
    p{
        padding: 20px 0;
    }
    nav{
        margin: 7px 0;
    }
    a{ 
        font-size: 12px !important;
    }
    .beg{
        height: 480px;
    }
    .img-girl{
        margin-top: -95px;
    }
    .modal{
        padding: 20px 20px 0;
    }
    .faster{
        margin-top: 30px;
    }
    .carousel-item .bg-primary{
        width: 299px !important;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: var(--green); 
    }
    img[src="img/faster2.svg"] {
        margin-top: 40px;
    }
    .tab{
        width: 100% !important;
    }
    .responsive-icon {
        height: 48px;
    }
    
    img[src="img/stars.svg"] {
        width: 70px;
    }
    .bg-secondary .begin{
        padding: 50px 20px 0;
        max-width: 280px;
    }
    .ca{
        max-width: 400px !important;
    }
    .b{
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 376px){
    .p{
        padding: 0 17px;
    }
    .col1 {
        flex: 0 0 42.33%; 
        max-width: 42%; 
      }}
